*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body
{
	background-image:url(images/messi.jpg);
	border-bottom-style: str;
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
    color: #7f7f7f;
}

.title_1 {
	margin-top: 50px;
	text-align: center;
	color: red;
}
.box_date {
	padding-top: 70px;
	text-align: center;
	width: 500px;
	height: 0 auto;
	position: relative;
	margin: 0 auto;
}

select {
    font-size: 14px;
}

.calendar-container button {
    border: none;
    background: none;
}

.calendar-container button:hover {
    color: red;
    cursor: pointer;
    font-weight:bold;
}

input#datepicker {
    background: url(images/calendar.png) no-repeat right;
    background-size: contain;
	color: #34eded;
	text-align: center;
}

table, tr, td { font-family: 'Times New Roman', sans-serif; border: 1.5px solid black;border-collapse: collapse;margin-top: 10px; align: center; background-color: #b3d8d8; }

tr {
	background-color: #a59e9d;
}

td {
    width: 80px;
    height: 30px;
    text-align: center;
	color: black;
}

td.days:hover {
    background: rgba(136, 243, 243, 0.83);
    cursor: pointer;
}
td.week {
    font-weight: bold;
    color: red;
}


